{% load static %}
        <header>
            <!-- INÍCIO BOTÕES BARRA SUPERIOR -->
            <ul class="flex-v-center">
                <li>
                    <a id="sidebar-button"><i class="fa-solid fa-bars"></i></a>
                </li>
                <li class="align-right">
                    <a href="" class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></a>
                </li>
                <li>
                    <a href="{% url 'setup_settings' %}"><i class="fa-solid fa-gear"></i></a>
                </li>
                <li class="profile-button">
                    {% spaceless %}
                    <a onclick="toggleProfile('profile')"><img id="profile-photo-button" src="{{ user.foto.url }}" alt=""></a>
                    {% if user.foto %}
                    {% else %}
                    <a onclick="toggleProfile('profile')"><img id="profile-photo-button" src="{% static 'img/default-profile.png' %}" alt=""></a>
                    {% endif %}
                    {% endspaceless %}
                </li>
            </ul>
            <!-- FIM BOTÕES BARRA SUPERIOR -->

            <!-- INÍCIO PROFILE -->
            <section id="profile" class="toggled">
                <div class="photo">
                    {% if user.foto %}
                    <img id="profile-photo" src="{{ user.foto.url }}" alt="Foto de Perfil"><br>
                    {% else %}
                    <img id="profile-photo" src="{% static 'img/default-profile.png' %}" alt="Foto de Perfil"><br>
                    {% endif %}
                </div>
                <div class="nome">
                </div>
                <div class="dados">
                    <p class="bolder font-22">{{ request.user.nome }}</p>
                    <p>{{ request.user.email }}</p>
                    <p class="italic font-14">Desde {{ request.user.date_joined }}</p>
                </div>
                <div class="profile">
                    <a href="{% url 'editar_perfil' %}" class="btn">Profile</a>
                </div>
                <div class="logout">
                    <a href="{% url 'deslogar_usuario' %}" class="btn">Logout</a>
                </div>
            </section>
            <!-- FIM PROFILE -->
        </header>
        <!-- FIM BARRA SUPERIOR -->