{% load static %}
        <header>
            <!-- INÍCIO BOTÕES BARRA SUPERIOR -->
            <ul class="flex-v-center">
                <li>
                    <a id="sidebar-button"><i class="fa-solid fa-bars"></i></a>
                </li>
                <li class="align-right">
                    <a onclick="toggleBox('search')" class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></a>
                </li>
                <li>
                    <a href="{% url 'setup_settings' %}"><i class="fa-solid fa-gear"></i></a>
                </li>
                <li class="profile-button">
                    {% spaceless %}
                    {% if user.photo %}
                    <a onclick="toggleBox('profile')"><img id="profile-photo-button" src="{{ user.photo.url }}" alt=""></a>
                    {% else %}
                    <a onclick="toggleBox('profile')"><img id="profile-photo-button" src="{% static 'img/default-profile.png' %}" alt=""></a>
                    {% endif %}
                    {% endspaceless %}
                </li>
            </ul>
            <!-- FIM BOTÕES BARRA SUPERIOR -->

            <!-- INÍCIO BUSCA -->
            <section id="search" class="toggled">
                <div class="photo">
                    <div class="search-form">
                        <label for="id_search_description">Busca</label>
                        <div>
                            <input type="search" name="search-description" id="id_search_description">
                        </div>
                        {% comment %} <div>
                            <select name="search-type" id="id_search_type">
                                <option value="0">Todos</option>
                                <option value="1">Contas</option>
                                <option value="2">Cartões</option>
                            </select>
                        </div> {% endcomment %}
                    </div>
                </div>
                <div class="dados">
                </div>
                <div class="profile">
                </div>
                <div class="logout">
                    <a class="btn" onclick="searchByDescription()">Buscar</a>
                </div>
            </section>
            <!-- FIM BUSCA -->

            <!-- INÍCIO PROFILE -->
            <section id="profile" class="toggled">
                <div class="photo">
                    {% if user.photo %}
                    <img id="profile-photo" src="{{ user.photo.url }}" alt="Foto de Perfil"><br>
                    {% else %}
                    <img id="profile-photo" src="{% static 'img/default-profile.png' %}" alt="Foto de Perfil"><br>
                    {% endif %}
                </div>
                <div class="nome">
                </div>
                <div class="dados">
                    <p class="bolder font-22">{{ request.user.nome }}</p>
                    <p>{{ request.user.email }}</p>
                    <p class="italic font-14">Desde {{ request.user.date_joined }}</p>
                </div>
                <div class="profile">
                    <a href="{% url 'get_profile' %}" class="btn">Profile</a>
                </div>
                <div class="logout">
                    <a href="{% url 'logout_user' %}" class="btn">Logout</a>
                </div>
            </section>
            <!-- FIM PROFILE -->
        </header>
        <!-- FIM BARRA SUPERIOR -->