    {% load custom_filters %}
    {% load static %}

        {% block styles %}<link rel="stylesheet" href="{% static 'css/invoice_dashboard.css' %}">{% endblock %}

        <div class="box box-primary box-max-width-2000 v-center-div">
            <div class="box-header">
                <h3 class="box-title">Dashboard</h3>
            </div>
            <div class="box-body">
                <label for="expenses-selector">Categorias</label>
                <select name="expenses-selector" id="expenses-selector" class="form-control"></select>
                <div class="dashboard">
                    <div class="expenses">
                        <canvas id="expenses-bar-chart" width="40" height="15"></canvas>
                        <br>
                        <b class="font-16">Total de gastos: {{ expenses | to_reais }}</b>
                    </div>
                </div>
            </div>
            <div class="box-footer">

            </div>
        </div>