{% extends 'index.html' %}

    {% spaceless %}
        {% block title %}
            {% if 'contas/cadastrar' in request.path %}
                Cadastrar Conta
            {% else %}
                Editar Conta
            {% endif %}
        {% endblock %}
    {% endspaceless %}

    {% block content %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">
                    {% spaceless %}
                        {% if 'contas/cadastrar' in request.path %}
                            Cadastrar Conta
                        {% else %}
                            Editar Conta
                        {% endif %}
                    {% endspaceless %}
                </h3>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="box-body">
                        {% csrf_token %}

                        {{ account_form.bank.errors }}
                        <label for="id_bank">Banco</label>
                        {{ account_form.bank }}

                        {{ account_form.branch.errors }}
                        <label for="id_branch">Agência</label>
                        {{ account_form.branch }}

                        {{ account_form.number.errors }}
                        <label for="id_number">Número</label>
                        {{ account_form.number }}

                        {{ account_form.balance.errors }}
                        <label for="id_balance">Saldo</label>
                        {{ account_form.balance }}

                        {{ account_form.limits.errors }}
                        <label for="id_limits">Limite</label>
                        {{ account_form.limits }}

                        {{ account_form.type.errors }}
                        <label for="id_type">Tipo</label>
                        {{ account_form.type }}

                        {{ account_form.home_screen.errors }}
                        {{ account_form.home_screen }}
                        <label for="id_home_screen">Tela Inicial</label>
                </div>
                <div class="box-footer">
                    <input class="btn btn-primary" type="submit" name="Cadastrar">
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-info">Voltar</a>
                    {% if 'contas/editar' in request.path %}
                    <a href="{% url 'delete_account' old_account.id %}"><input type="button" value="Excluir" class="btn btn-danger"></a>
                    {% endif %}
                </div>
            </form>
        </div>
    {% endblock content %}