{% extends 'index.html' %}
{% load static %}
{% load custom_filters %}
{% load l10n %}

    {% block title %}Configurações{% endblock %}

    {% block content %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Antecipar visualização do próximo mês</h3>
            </div>
            <div class="box-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Dia</th>
                        <th>Ativo</th>
                        <th>Editar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ next_month_view.day }}</td>
                        <td>{{ next_month_view.active | bool_to_portuguese }}</td>
                        <td>
                            <a href="{% url 'update_next_month_view' %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer">

            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Despesas Fixas</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_fixed_expense' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Data Inicial</th>
                            <th>Data Final</th>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fixed_expense in fixed_expenses %}
                        <tr>
                            <td><a href="#">{{ fixed_expense.start_date | date:"d/m/Y" }}</a></td>
                            <td><a href="#">{{ fixed_expense.end_date | date:"d/m/Y" }}</a></td>
                            <td><a href="#">{{ fixed_expense.description }}</a></td>
                            <td><a href="#">{{ fixed_expense.value | to_reais }}</a></td>
                            <td><a href="{% url 'update_fixed_expense' fixed_expense.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de itens listados: {{ fixed_expenses.count }}</span>
            </div>
        </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Bancos</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_bank' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Código</th>
                            <th>Ícone</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bank in banks %}
                        <tr>
                            <td><a href="#">{{ bank.description }}</a></td>
                            <td>{{ bank.code | handle_none }}</td>
                            <td>
                                <img src="{{ bank.icon | handle_image }}" alt="Ícone do {{ bank.description }}" style="max-height: 25px;">
                            </td>
                            <td><a href="{% url 'update_bank' bank.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de itens listados: {{ banks.count }}</span>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Categorias de Entrada</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_category' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Cor</th>
                            <th>Ícone</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            {% if category.type == 'entrada' %}
                                <tr>
                                    <td><a href="#">{{ category.description }}</a></td>
                                    <td><a href="#"><i class="fa-solid fa-circle" style="color: {{ category.color }};"></i></a></td>
                                    <td><a href="#"><i class="{{ category.icon }}"></i></a></td>
                                    <td><a href="{% url 'update_category' category.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <br>
            </div>
            <div class="box-footer">
                <span>Total de itens listados: {{ categories.count }}</span>
            </div>
        </div>

        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Sub-Categorias de Entrada</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_subcategory' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Categoria</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subcategory in subcategories %}
                        {% if subcategory.category.type == 'entrada' %}
                        <tr>
                            <td>{{ subcategory.description }}</td>
                            <td>{{ subcategory.category }}</td>
                            <td><a href="{% url 'update_subcategory' subcategory.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <br>
            </div>
            <div class="box-footer">
                <span>Total de itens listados: {{ subcategories.count }}</span>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Categorias de Saída</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_category' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Cor</th>
                            <th>Ícone</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            {% if category.type == 'saida' %}
                                <tr>
                                    <td><a href="#">{{ category.description }}</a></td>
                                    <td><a href="#"><i class="fa-solid fa-circle" style="color: {{ category.color }};"></i></a></td>
                                    <td><a href="#"><i class="{{ category.icon }}"></i></a></td>
                                    <td><a href="{% url 'update_category' category.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <br>
            </div>
            <div class="box-footer">
                <span>Total de itens listados: {{ categories.count }}</span>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Sub-Categorias de Saída</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_subcategory' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Categoria</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subcategory in subcategories %}
                        {% if subcategory.category.type == 'saida' %}
                        <tr>
                            <td>{{ subcategory.description }}</td>
                            <td>{{ subcategory.category }}</td>
                            <td><a href="{% url 'update_subcategory' subcategory.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <br>
            </div>
            <div class="box-footer">
                <span>Total de itens listados: {{ subcategories.count }}</span>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Bandeiras</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_flag' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Ícone</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for flag in flags %}
                        <tr>
                            <td><a href="#">{{ flag.description }}</a></td>
                            <td>
                                <img src="{{ flag.icon | handle_image }}" alt="Ícone {{ flag.description }}" style="max-height: 35px;">
                            </td>
                            <td><a href="{% url 'update_flag' flag.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de itens listados: {{ flags.count }}</span>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Índices Financeiros</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_index' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>ID no BCB</th>
                            <th>Data Inicial</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index in indexes %}
                        <tr>
                            <td><a href="#">{{ index.description }}</a></td>
                            <td><a href="#">{{ index.bcb_id }}</a></td>
                            <td><a href="#">{{ index.first_date | date:"d/m/Y" }}</a></td>
                            <td><a href="{% url 'update_index' index.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de itens listados: {{ indexes.count }}</span>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Instrumentos de Renda Fixa</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_fixed_income_security' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Abreviacão</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fixed_income_security in fixed_income_securities %}
                        <tr>
                            <td><a href="#">{{ fixed_income_security.description }}</a></td>
                            <td><a href="#">{{ fixed_income_security.abbreviation }}</a></td>
                            <td>
                                <a href="{% url 'update_fixed_income_security' fixed_income_security.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de itens listados: {{ fixed_income_securities.count }}</span>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Setor da empresa</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_sector' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sector in sectors %}
                        <tr>
                            <td><a href="#">{{ sector.description }}</a></td>
                            <td>
                                <a href="{% url 'update_sector' sector.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Papel</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_ticker' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticker in tickers %}
                        <tr>
                            <td><a href="#">{{ ticker.description }}</a></td>
                            <td>
                                <a href="{% url 'update_ticker' ticker.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de itens listados: {{ tickers.count }}</span>
            </div>
        </div>
    {% endblock %}