{% extends 'index.html' %}
{% load static %}
{% load custom_filters %}
{% load l10n %}

    {% block title %}Configurações{% endblock %}

    {% block content %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Antecipar visualização do próximo mês</h3>
            </div>
            <div class="box-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Dia</th>
                        <th>Ativo</th>
                        <th>Editar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ next_month_view.day }}</td>
                        <td>{{ next_month_view.active | bool_to_portuguese }}</td>
                        <td>
                            <a href="{% url 'update_next_month_view' %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer">

            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Listar Bancos</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_bank' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Código</th>
                            <th>Ícone</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bank in banks %}
                        <tr>
                            <td><a href="#">{{ bank.description }}</a></td>
                            <td>{{ bank.code }}</td>
                            <td>
                                {% if bank.icon %}
                                <img src="{{ bank.icon.url }}" alt="Ícone do {{ bank.description }}" style="max-height: 25px;">
                                {% else %}
                                <img src="" alt="Ícone do {{ bank.description }}" style="max-height: 25px;">
                                {% endif %}
                            </td>
                            <td><a href="{% url 'update_bank' bank.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de ítens listados: {{ banks.count }}</span>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Listar Contas</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_account' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Banco</th>
                            <th>Agência</th>
                            <th>Número</th>
                            <th>Saldo</th>
                            <th>Limite</th>
                            <th>Tela Inicial</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in accounts %}
                        <tr>
                            <td>
                                {% if account.bank.icon %}
                                <img src="{{ account.bank.icon.url }}" alt="Logotipo do banco {{account.bank.description}}" style="max-height: 25px;">
                                {% else %}
                                <img src="" alt="Logotipo do banco {{account.bank.description}}" style="max-height: 25px;">
                                {% endif %}
                            </td>
                            <td>{{ account.bank }}</td>
                            <td>{{ account.number }}</td>
                            <td>{{ account.balance | to_reais }}</td>
                            <td>{{ account.limits | to_reais }}</td>
                            <td>{{ account.home_screen }}</td>
                            <td><a href="{% url 'update_account' account.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de ítens listados: {{ accounts.count }}</span>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Listar Cartões</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_card' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Ícone</th>
                            <th>Limite</th>
                            <th>Bandeira</th>
                            <th>Tela Inicial</th>
                            <th>Conta</th>
                            <th>Dia de Fechamento</th>
                            <th>Dia de Vencimento</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for card in cards %}
                        <tr>
                            <td>
                                {% if card.icon %}
                                <img src="{{ card.icon.url }}" alt="Logotipo do Cartão {{ card.description }}" style="max-height: 25px;">
                                {% else %}
                                <img src="" alt="Logotipo do Cartão {{ card.description }}" style="max-height: 25px;">
                                {% endif %}
                            </td>
                            <td>{{ card.limits | to_reais }}</td>
                            <td>
                                {% if card.icon %}
                                <img src="{{ card.flag.icon.url }}" alt="Logotipo do Cartão {{ card.description }}" style="max-height: 25px;">
                                {% else %}
                                <img src="" alt="Logotipo do Cartão {{ card.description }}" style="max-height: 25px;">
                                {% endif %}
                            </td>
                            <td>{{ card.home_screen }}</td>
                            <td>{{ card.account }}</td>
                            <td>{{ card.closing_day}}</td>
                            <td>{{ card.expiration_day}}</td>
                            <td><a href="{% url 'update_card' card.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de ítens listados: {{ cards.count }}</span>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Listar Categorias de Entrada</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_category' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Cor</th>
                            <th>Ícone</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            {% if category.type == 'entrada' %}
                                <tr>
                                    <td><a href="#">{{ category.description }}</a></td>
                                    <td><a href="#"><i class="fa-solid fa-circle" style="color: {{ category.color }};"></i></a></td>
                                    <td><a href="#"><i class="{{ category.icon }}"></i></a></td>
                                    <td><a href="{% url 'update_category' category.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de ítens listados: {{ categories.count }}</span>
            </div>
        </div>

        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Listar Sub-Categorias de Entrada</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_subcategory' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Categoria</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subcategory in subcategories %}
                        {% if subcategory.category.type == 'entrada' %}
                        <tr>
                            <td>{{ subcategory.description }}</td>
                            <td>{{ subcategory.category }}</td>
                            <td><a href="{% url 'update_subcategory' subcategory.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de ítens listados: {{ subcategorias.count }}</span>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Listar Categorias de Saída</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_category' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Cor</th>
                            <th>Ícone</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            {% if i.type == 'saida' %}
                                <tr>
                                    <td><a href="#">{{ category.description }}</a></td>
                                    <td><a href="#"><i class="fa-solid fa-circle" style="color: {{ category.color }};"></i></a></td>
                                    <td><a href="#"><i class="{{ category.icon }}"></i></a></td>
                                    <td><a href="{% url 'update_category' category.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de ítens listados: {{ categorias.count }}</span>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Listar Sub-Categorias de Saída</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_subcategory' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Categoria</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subcategory in subcategories %}
                        {% if subcategory.category.type == 'saida' %}
                        <tr>
                            <td>{{ subcategory.description }}</td>
                            <td>{{ subcategory.category }}</td>
                            <td><a href="{% url 'update_subcategory' subcategory.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de ítens listados: {{ subcategorias.count }}</span>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Listar Bandeiras</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_flag' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Ícone</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for flag in flags %}
                        <tr>
                            <td><a href="#">{{ flag.description }}</a></td>
                            <td>
                                {% if flag.icon %}
                                <img src="{{ flag.icon.url }}" alt="Ícone {{ flag.description }}" style="max-height: 35px;">
                                {% else %}
                                <img src="" alt="Ícone {{ flag.description }}" style="max-height: 35px;">
                                {% endif %}
                            </td>
                            <td><a href="{% url 'update_flag' flag.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de ítens listados: {{ bandeiras.count }}</span>
            </div>
        </div>
    {% endblock %}