<!--<!DOCTYPE html>-->
<!--{% load static %}-->
<!--{% load  i18n %}-->
<!--<html lang="pt-br">-->
<!--    <head>-->
<!--        &lt;!&ndash; CONFIGURAÇÕES INICIAIS &ndash;&gt;-->
<!--        <meta charset="UTF-8">-->
<!--        <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--        <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--        &lt;!&ndash; ÍCONES EXTERNOS &ndash;&gt;-->
<!--        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">-->
<!--        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">-->

<!--        &lt;!&ndash; FONTES EXTERNAS &ndash;&gt;-->
<!--        <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap" rel="stylesheet">-->
<!--        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">-->

<!--        &lt;!&ndash; ESTILIZAÇÃO LOCAL &ndash;&gt;-->
<!--        <link rel="stylesheet" href="{% static 'css/styles.css' %}">-->
<!--        <link rel="icon" href="{% static 'img/favicon.png' %}">-->

<!--        <title>Produtividade | {% block title %}  {% endblock %}</title>-->
<!--    </head>-->
<!--    <body>-->
<!--        &lt;!&ndash; INÍCIO FORMULÁRIO DE PESQUISA &ndash;&gt;-->
<!--        &lt;!&ndash; Quando eu tiro essa div o header está quebrando - verificar depois &ndash;&gt;-->
<!--        <div class="box box-primary toggled" id="search-form">-->
<!--            <div class="box-header">-->
<!--                <h3>Busca</h3>-->
<!--            </div>-->
<!--            <div class="box-body">-->
<!--                <input type="text" class="form-control" name="" id="id_busca">-->
<!--                <br>-->
<!--                <a class="btn btn-primary" href="">Buscar</a>-->
<!--            </div>-->
<!--            <div class="box-footer">-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; FIM FORMULÁRIO DE PESQUISA &ndash;&gt;-->

<!--        &lt;!&ndash; INÍCIO BARRA SUPERIOR &ndash;&gt;-->

<!--        &lt;!&ndash; INÍCIO LOGOTIPO &ndash;&gt;-->
<!--        <logo>-->
<!--            <div>-->
<!--                <img src="{% static 'img/icone.svg' %}" class="logo">-->
<!--                <span>Produtividade</span>-->
<!--            </div>-->
<!--        </logo>-->
<!--        &lt;!&ndash; FIM LOGOTIPO &ndash;&gt;-->

<!--        {% include '_frames/_header.html' %}-->

<!--        &lt;!&ndash; FIM BARRA SUPERIOR &ndash;&gt;-->


<!--        &lt;!&ndash; INÍCIO MENU LATERAL &ndash;&gt;-->
<!--        {% include '_frames/_sidebar.html' %}-->
<!--        &lt;!&ndash; FIM MENU LATERAL &ndash;&gt;-->


<!--        &lt;!&ndash; INÍCIO MAIN &ndash;&gt;-->
<!--        <main>-->
<!--        {% block content %}-->

<!--        {% endblock %}-->
<!--        </main>-->
<!--        &lt;!&ndash; FIM MAIN &ndash;&gt;-->

<!--        &lt;!&ndash; INÍCIO FOOTER &ndash;&gt;-->
<!--        {% include '_frames/_footer.html' %}-->
<!--        &lt;!&ndash; FIM FOOTER &ndash;&gt;-->

<!--    &lt;!&ndash; SCRIPTS &ndash;&gt;-->
<!--    <script src="{% static 'js/scripts.js' %}"></script>-->
<!--    {% block scripts %}{% endblock %}-->

<!--</body>-->
<!--</html>-->
