{% extends 'index.html' %}

{% block title %}Cadastrar Banco{% endblock %}

    {% block content %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">
                {% spaceless %}
                    {% if 'bancos/cadastrar/' in request.path %}
                        Cadastrar Banco
                    {% else %}
                        Editar Banco
                    {% endif %}
                {% endspaceless %}
                </h3>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="box-body">
                        {% csrf_token %}

                        {{ bank_form.description.errors }}
                        <label for="id_description">Descricao</label>
                        {{ bank_form.description }}

                        {{ bank_form.code.errors }}
                        <label for="id_code">Codigo</label>
                        {{ bank_form.code }}

                        {{ bank_form.icon.errors }}
                        <label for="id_icon">Ícone</label>
                        {{ bank_form.icon }}
                </div>
                <div class="box-footer">
                    <input class="btn btn-primary" type="submit" name="Cadastrar">
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-info">Voltar</a>
                    {% if 'bancos/editar/' in request.path %}
                    <a href="{% url 'delete_bank' old_bank.id %}"><input type="button" value="Excluir" class="btn btn-danger"></a>
                    {% endif %}
                </div>
            </form>
        </div>
    {% endblock content %}