<br><br>
        <h3>Navegar por ano</h3>
        <a href="{% url 'get_transactions_by_year' navigation.previous %}">
            <input type="button" value="{{ navigation.previous }}" class="btn" style="margin: 5px;">
        </a>
        <a href="{% url 'get_transactions_by_year' navigation.current %}">
            <input type="button" value="{{ navigation.current }}" class="btn" style="margin: 5px;">
        </a>
        <a href="{% url 'get_transactions_by_year' navigation.next %}">
            <input type="button" value="{{ navigation.next }}" class="btn" style="margin: 5px;">
        </a>