{% extends 'index.html' %}
    {% block content %}

        <div class="box box-primary">
            <div class="box-header">
                {% if tipo == 'entrada' %}
                    <h3 class="box-title">Listar Categorias de Entradas</h3>
                {% else %}
                    <h3 class="box-title">Listar Categorias de Saídas</h3>
                {% endif %}
            </div>
            <div class="box-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Cor</th>
                            <th>Ícone</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in categorias %}
                            <tr>
                                <td><a href="#">{{ i.descricao }}</a></td>
                                <td><a href="#">{{ i.cor }}</a></td>
                                <td><a href="#">{{ i.icone }}</a></td>
                                <td><a href="{% url 'editar_categoria' i.id %}">Editar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de ítens listados: {{ categorias.count }}</span>
            </div>

        </div>
    {% endblock content %}