{% extends "index.html" %}
{% load static %}
{% load meus_filtros %}

    {% block title %}
    {% if 'remover' in request.path %}
    Excluir Movimentação
    {% elif 'editar' in request.path %}
    Editar Movimentação
    {% else %}
    Detalhar Movimentacao
    {% endif  %}
    {% endblock title %}

    {% block content %}
        <div class="box box-primary">
            <form method="post">
                <div class="box-title">
                    <h3>
                        {% if 'remover' in request.path %}
                        Atenção! Você está prestes a excluir as movimentações abaixo. Esta operação é irreversível.
                        {% elif 'editar' in request.path %}
                        Editando {{ movimentacoes.first.descricao }}
                        {% else %}
                        {{ movimentacoes.first.descricao }}
                        {% endif %}
                    </h3>
                </div>
                <div class="box-body">
                    <p style="font-size: 18px;">Descrição: <b>{{ movimentacoes.first.descricao }}.</b></p>
                    <p style="font-size: 18px;">Valor Total: <b>{{ movimentacoes|valor_total }}.</b></p>
                    <p style="font-size: 18px;">Valor da parcela: <b>{{ movimentacoes.first.moeda.simbolo }} {{ movimentacoes.first.valor|floatformat:2 }}.</b></p>
                    <p style="font-size: 18px;">Número de Parcelas: <b>{{ movimentacoes.first.numero_parcelas }}.</b></p>
                    <p style="font-size: 18px;">Categoria: <b>{{ movimentacoes.first.categoria }}</b></p>
                    <p style="font-size: 18px;">Sub Categoria: <b>{{ movimentacoes.first.subcategoria }}</b></p>
                    <p style="font-size: 18px;">Tipo: <b>{{ movimentacoes.first.tipo }}.</b></p>
                    {% if 'editar' in request.path %}
                    {% elif 'remover' in request.path %}
                    {% else %}
                    <br>
                    <a href="{% url 'adiantar_parcelas' parcelamento.id %}" class="btn btn-primary">Adiantar Parcelas</a>
                    <br><br>
                    {% endif %}
                    <table>
                        <thead>
                            <tr>
                                <th>Parcela</th>
                                <th>Data de Lançamento</th>
                                <th>Data de Efetivação</th>
                                <th>Descricao</th>
                                <th>Valor</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in movimentacoes %}
                            <tr>
                                <td>{{ i.pagas }}</td>
                                <td>{{ i.data_lancamento }}</td>
                                <td>{{ i.data_efetivacao }}</td>
                                <td>{{ i.descricao }}</td>
                                <td>{{ i.moeda.simbolo }} {{ i.valor|floatformat:2 }}</td>
                                <td>
                                    <a href="{% url 'editar_movimentacao' i.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a>
                                    <a href="{% url 'remover_parcela' i.id %}"><i class="fa-solid fa-trash action-icon"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    {% if 'editar' in request.path %}
                    {% csrf_token %}
                    <label for="id_data_lancamento">Data do Lançamento</label>
                    {{ form_parcelamento.data_lancamento }}
                    {{ form_parcelamento.data_lancamento.errors }}

                    {% if form_parcelamento.reordenar_datas_lancamento %}
                    <label for="">Reordenar as Datas de Lançamento</label>
                    {{ form_parcelamento.reordenar_datas_lancamento }}
                    {% endif %}

                    <label for="id_numero_parcelas">Número de Parcelas</label>
                    {{ form_parcelamento.numero_parcelas }}
                    {{ form_parcelamento.numero_parcelas.errors }}

                    <label for="id_categoria">Categoria</label>
                    {{ form_parcelamento.categoria }}
                    {{ form_parcelamento.categoria.errors }}

                    <label for="id_subcategoria">Sub Categoria</label>
                    {{ form_parcelamento.subcategoria }}
                    {{ form_parcelamento.subcategoria.errors }}

                    <label for="id_descricao">Descrição</label>
                    {{ form_parcelamento.descricao }}
                    {{ form_parcelamento.descricao.errors }}

                    <label for="id_valor">Valor</label>
                    {{ form_parcelamento.valor }}
                    {{ form_parcelamento.valor.errors }}
                    <br>

                    <h3 id="btn-other-options" class="cursor-pointer">Outras Opções +</h3>

                    <div id="div-other-options" class="toggled">
                        <br>
                         <label for="id_meio_de_pagamento">Meio de Pagamento</label>
                    {{ form_parcelamento.meio_de_pagamento }}

                    <div id="conta-cartao">
                        <label for="id_conta">Conta</label>
                        {{ form_parcelamento.conta }}
                        {{ form_parcelamento.conta.errors }}

                        <label for="id_cartao">Cartao</label>
                        {{ form_parcelamento.cartao }}
                        {{ form_parcelamento.cartao.errors }}
                    </div>

                    <label for="id_tipo">Tipo</label>
                    {{ form_parcelamento.tipo }}
                    {{ form_parcelamento.tipo.errors }}

                        {{ form_parcelamento.fixa }}
                        <label for="id_fixa">Fixa</label><br><br>
                        {{ form_parcelamento.fixa.errors }}

                        {{ form_parcelamento.anual }}
                        <label for="id_anual">Anual</label><br><br>
                        {{ form_parcelamento.anual.errors }}

                        <label for="id_moeda">Moeda</label>
                        {{ form_parcelamento.moeda }}
                        {{ form_parcelamento.moeda.errors }}

                        <label for="id_observacao">Observações</label>
                        {{ form_parcelamento.observacao }}
                        {{ form_parcelamento.observacao.errors }}

                        {{ form_parcelamento.lembrar }}
                        <label for="id_lembrar">Lembrar</label><br><br>
                        {{ form_parcelamento.lembrar.errors }}

                        {{ form_parcelamento.efetivado }}
                        <label for="id_efetivado">Efetivado</label><br><br>
                        {{ form_parcelamento.efetivado.errors }}

                        {{ form_parcelamento.tela_inicial }}
                        <label for="id_tela_inicial">Tela Inicial</label><br><br>
                        {{ form_parcelamento.tela_inicial.errors }}
                        <br>
                    </div>
                    {% endif %}
                    {% if 'remover' in request.path %}
                    <br>
                    <div class="btn-danger">
                        <p>
                        {% csrf_token %}
                        {{ form_exclusao }}
                        Sim, desejo excluir e estou ciente de que esta operação é irreversível.
                        </p>
                    </div>
                    {% endif %}
                </div>
                <div class="box-footer">
                    {% csrf_token %}
                    <a href="{{request.META.HTTP_REFERER}}"><input type="button" value="Voltar" class="btn btn-primary"></a>
                    {% if 'remover' in request.path %}
                    <input type="submit" value="Excluir Movimentações" class="btn btn-danger">
                    {% elif 'editar' in request.path %}
                    <input type="submit" value="Editar Movimentações" class="btn btn-primary">
                    {% else %}
                    <a href="{% url 'editar_parcelamento' movimentacoes.first.parcelamento.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'remover_parcelamento' movimentacoes.first.parcelamento.id %}" class="btn btn-danger">Remover</a>
                    {% endif %}
                </div>
            </form>
        </div>

    {% endblock content %}

    {% block scripts %}
    <script src="{% static 'js/layout/movements-form.js' %}" type="module"></script>
    <script src="{% static 'js/classes.js' %}" type="module"></script>
    {% endblock %}