{% extends 'index.html' %}

    {% block title %}
        {% spaceless %}
            {% if 'subcategorias/cadastrar' in request.path %}
                Cadastrar Sub-Categoria
            {% else %}
                Editar Sub-Categoria
            {% endif %}
        {% endspaceless %}
    {% endblock %}

    {% block content %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">
                    {% spaceless %}
                        {% if 'subcategorias/cadastrar' in request.path %}
                            Cadastrar Sub-Categoria
                        {% else %}
                            Editar Sub-Categoria
                        {% endif %}
                    {% endspaceless %}
                </h3>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="box-body">
                        {% csrf_token %}

                        {{ subcategory_form.description.errors }}
                        <label for="id_description">Descricao</label>
                        {{ subcategory_form.description }}

                        {{ subcategory_form.category.errors }}
                        <label for="id_category">Categoria</label>
                        {{ subcategory_form.category }}
                </div>
                <div class="box-footer">
                    <input class="btn btn-primary" type="submit" name="Cadastrar">
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-info">Voltar</a>
                    {% if 'subcategorias/editar/' in request.path %}
                        <a href="{% url 'delete_subcategory' old_subcategory.id %}"><input type="button" value="Excluir" class="btn btn-danger"></a>
                    {% endif %}
                </div>
            </form>
        </div>
    {% endblock content %}