        <aside>
            <ul>
                <li>
                    <a href="{% url 'listar_mes_atual' %}">
                        <div>
                            <i class="fa-solid fa-house"></i>
                        </div>
                        <div class="toggle">
                            <span>Início</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'cadastrar_movimentacao' 'saida' %}">
                        <div>
                            <i class="fa-solid fa-right-from-bracket"></i>
                        </div>
                        <div class="toggle">
                            <span>Saída </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'cadastrar_movimentacao' 'entrada' %}">
                        <div>
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </div>
                        <div class="toggle">
                            <span>Entrada </span>
                        </div>
                    </a>
                </li>
<!--                 INICIO EXEMPLO ÍTEM COM DROPDOWN-->
                <li>
                    <a id="conta-submenu-button" onclick="toggleSubMenu('conta-submenu')">
                        <div>
                            <i class="bi bi-diagram-3-fill"></i>
                        </div>
                        <div class="toggle">
                            <span>Contas</span>
                        </div>
                        <div class="align-right">
                            <i class="fa-solid fa-angle-down inverse-toggle"></i>
                        </div>
                    </a>
                </li>
                    <ul id="conta-submenu" class="toggled">
                        {% for conta in contas %}
                        <li>
                            <a href="{% url 'listar_movimentacoes_conta_id' conta.id %}">{{ conta }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                <!-- FIM EXEMPLO ÍTEM COM DROPDOWN -->
            </ul>
        </aside>
