{% extends 'index.html' %}

    {% block title %}
        {% spaceless %}
            {% if 'renda_fixa/cadastrar/' in request.path %}
                Cadastrar Ativo de Renda Fixa
            {% else %}
                Editar Ativo de Renda Fixa
            {% endif %}
        {% endspaceless %}
    {% endblock %}

    {% block content %}
        <div class="box box-primary">
            <div class="box-header">

                <h3 class="box-title">
                    {% spaceless %}
                        {% if 'renda_fixa/cadastrar/' in request.path %}
                            Cadastrar Ativo de Renda Fixa
                        {% else %}
                            Editar Ativo de Renda Fixa
                        {% endif %}
                    {% endspaceless %}
                </h3>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="box-body">
                        {% csrf_token %}

                        {{ security_form.description.errors }}
                        <label for="id_type">Descrição</label>
                        {{ security_form.description }}

                        {{ security_form.abbreviation.errors }}
                        <label for="id_type">Abreviação</label>
                        {{ security_form.abbreviation }}
                </div>
                <div class="box-footer">
                    <input class="btn btn-primary" type="submit" name="Cadastrar">
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-info">Voltar</a>
                    {% if 'categorias/editar' in request.path %}
                    <a href="{% url 'delete_category' old_category.id %}"><input type="button" value="Excluir" class="btn btn-danger"></a>
                    {% endif %}
                </div>
            </form>
        </div>
    {% endblock content %}