{% extends 'index.html' %}

    {% block title %}Cadastrar Conta{% endblock title %}

    {% block content %}
        <div class="box box-primary">
            <div class="box-header">
                {% if conta %}
                <h3 class="box-title">Editar Conta</h3>
                {% else %}
                <h3 class="box-title">Cadastrar Nova Conta</h3>
                {% endif %}
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="box-body">
                        {% csrf_token %}

                        {{ form_conta.banco.errors }}
                        <label for="id_banco">Banco</label>
                        {{ form_conta.banco }}

                        {{ form_conta.agencia.errors }}
                        <label for="id_agencia">Agência</label>
                        {{ form_conta.agencia }}

                        {{ form_conta.numero.errors }}
                        <label for="id_numero">Número</label>
                        {{ form_conta.numero }}

                        {{ form_conta.saldo.errors }}
                        <label for="id_saldo">Saldo</label>
                        {{ form_conta.saldo }}

                        {{ form_conta.limite.errors }}
                        <label for="id_limite">Limite</label>
                        {{ form_conta.limite }}

                        {{ form_conta.tipo.errors }}
                        <label for="id_tipo">Tipo</label>
                        {{ form_conta.tipo }}

                        {{ form_conta.tela_inicial.errors }}
                        {{ form_conta.tela_inicial }}
                        <label for="id_tela_inicial">Tela Inicial</label>
                </div>
                <div class="box-footer">
                    <input class="btn btn-primary" type="submit" name="Cadastrar">
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-info">Voltar</a>
                    {% block excluir %}
                    {% endblock excluir %}
                </div>
            </form>
        </div>
    {% endblock content %}