
        <a href="{% url 'listar_movimentacoes_conta_ano_mes' conta.id mes_anterior|date:'Y' mes_anterior|date:'m' %}">
            <input type="button" value="{{ mes_anterior | date:'M-y' }}" class="btn" style="margin: 5px;">
        </a>
        <a href="{% url 'listar_movimentacoes_conta_ano_mes' conta.id ano_mes|date:'Y' ano_mes|date:'m' %}">
            <input type="button" value="{{ ano_mes | date:'M-y' }}" class="btn" style="margin: 5px;">
        </a>
        <a href="{% url 'listar_movimentacoes_conta_ano_mes' conta.id mes_proximo|date:'Y' mes_proximo|date:'m' %}">
            <input type="button" value="{{ mes_proximo | date:'M-y' }}" class="btn" style="margin: 5px;">
        </a>