{% extends 'index.html' %}
{% load static %}
{% load  i18n %}
{% load custom_filters %}

{% block title %}
    Perfil
{% endblock title %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Perfil</h3>
        </div>
        <div class="box-body">
            <div class="centered-content">
                {% if user.photo %}
                <img src="{{ user.photo.url }}" alt="Foto de Perfil" class="profile-photo"><br>
                {% else %}
                <img src="{% static 'img/default-profile.png' %}" alt="Foto de Perfil" class="profile-photo"><br>
                {% endif %}
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Id: {{ user.id }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nome</td>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td>Último login</td>
                        <td>{{ user.last_login }}</td>
                    </tr>
                    <tr>
                        <td>Desde</td>
                        <td>{{ user.date_joined }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <a href="{% url 'update_profile' %}"><input type="button" value="Editar Perfil" class="btn"></a>
            <a href="{% url 'change_password' %}"><input type="button" value="Alterar Senha" class="btn"></a>
        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Inteligências Artificiais</h3>
        </div>
        <div class="box-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Modelo</th>
                        <th>Status</th>
                        <th>Último Feedback</th>
                        <th style="width: 250px; white-space: nowrap;">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for predictor in transaction_classifier %}
                        <tr>
                            <td>{{ predictor.ai }}</td>
                            <td>{{ predictor.description }}</td>
                            <td>{{ predictor.status }}</td>
                            <td>{{ predictor.date|default_if_none:'' }}</td>
                            <td>
                                <button id="{{ predictor.name }}-train-btn" class="btn-tiny btn-primary">
                                    Treinar
                                </button>
                                <button id="{{ predictor.name }}-feedback-btn" class="btn-tiny btn-primary">
                                    Dar Feedback
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button id="delete-feedbacks-btn" class="btn-tiny btn-primary">
                Apagar Feedbacks
            </button>
        </div>
        <div class="box-footer">
        </div>
    </div>

        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Contas</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_account' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Banco</th>
                            <th>Agência</th>
                            <th>Número</th>
                            <th>Saldo</th>
                            <th>Limite</th>
                            <th>Tela Inicial</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in accounts %}
                        <tr>
                            <td>
                                <img src="{{ account.bank.icon | handle_image }}" alt="Logotipo do banco {{account.bank.description}}" style="max-height: 25px;">
                            </td>
                            <td>{{ account.bank }}</td>
                            <td>
                                {% if account.number %}
                                {{ account.number }}
                                {% endif %}
                            </td>
                            <td>{{ account.balance | to_reais }}</td>
                            <td>{{ account.limits | to_reais }}</td>
                            <td>{{ account.home_screen | handle_boolean }}</td>
                            <td><a href="{% url 'update_account' account.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de itens listados: {{ accounts.count }}</span>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Cartões de Crédito</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'create_card' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Ícone</th>
                            <th>Limite</th>
                            <th>Bandeira</th>
                            <th>Tela Inicial</th>
                            <th>Conta</th>
                            <th>Dia de Fechamento</th>
                            <th>Dia de Vencimento</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for card in cards %}
                        <tr>
                            <td>
                                <img src="{{ card.icon | handle_image }}" alt="Logotipo do Cartão {{ card.description }}" style="max-height: 25px;">
                            </td>
                            <td>{{ card.limits | to_reais }}</td>
                            <td>
                                <img src="{{ card.flag.icon | handle_image }}" alt="Logotipo do Cartão {{ card.description }}" style="max-height: 25px;">
                            </td>
                            <td>{{ card.home_screen }}</td>
                            <td>{{ card.account }}</td>
                            <td>{{ card.closing_day}}</td>
                            <td>{{ card.expiration_day}}</td>
                            <td><a href="{% url 'update_card' card.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de itens listados: {{ cards.count }}</span>
            </div>
        </div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/pages/user/get-profile.js' %}" type="module"></script>
{% endblock %}