{% extends 'base.html' %}
{% load static %}
{% load  i18n %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="box box-primary box-500 center-div">
        <div class="header">
            <h3 class="box-title">MyFinance - Login</h3>
        </div>
        <form method="post">
            <div class="box-body">
                {% csrf_token %}

                <div class="form-group">
                    {{ login_form.username.errors }}
                    <label>Usuário: </label>
                    {{ login_form.username }}
                </div>

                <div class="form-group">
                    {{ login_form.passwor1.errors }}
                    <label>Senha: </label>
                    {{ login_form.password }}
                </div>
                <input type="submit" value="Logar" class="btn btn-primary">
                <a href="/usuarios/cadastrar">Cadastrar novo usuário</a>
            </div>
            <div class="box-footer">
                <div class="center-text">
                    <span>Versão: </span><span id="version"></span>
                </div>
            </div>
        </form>
    </div>
{% endblock %}