<!DOCTYPE html>
{% load static %}
{% load  i18n %}
<html lang="pt-br">
    <head>
        {% comment %} CONFIGURAÇÕES INICIAIS {% endcomment %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% comment %} ÍCONES EXTERNOS {% endcomment %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        {% comment %} FONTES EXTERNAS {% endcomment %}
        <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

        {% comment %} ESTILIZAÇÃO LOCAL {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="icon" href="{% static 'img/favicon.png' %}">

        <title>
            {% spaceless %}
                {% block title %}
                {% endblock %}
            {% endspaceless %}
        </title>
    </head>
    <body>
    {% block content %}
    {% endblock %}
    </body>
    <script src="{% static 'js/login.js' %}" type="module"></script>
</html>