{% extends 'index.html' %}
{% load static %}

    {% spaceless %}
        {% block title %}
            {% if 'contas/cadastrar' in request.path %}
                Cadastrar Conta
            {% else %}
                Editar Conta
            {% endif %}
        {% endblock %}
    {% endspaceless %}

    {% block content %}
    {% comment %}*** INÍCIO NAVEGAÇÃO ***{% endcomment %}
    <i class="fa-solid fa-backward-step" id="id_decrease"></i>
    <a class="nav-btn mr-5">{{ navigation_form.year }}</a>
    <i class="fa-solid fa-forward-step" id="id_increase"></i>
    {% comment %}*** FIM NAVEGAÇÃO ***{% endcomment %}
    
    <div class="box box-primary box-max-width-2000 v-center-div">
        <div class="box-header">
            <h3 class="box-title">
                <span class="tab" id="revenue-expenses-tab">Receitas/Despesas</span>
                <span class="tab" id="expenses-by-category-tab">Gastos por categoria</span>
            </h3>
        </div>
        <div class="box-body">
            <select class="form-control" name="" id="dashboard-select"></select>
            <canvas id="expenses-bar-chart" width="40" height="15"></canvas>
        </div>
        <div class="box-footer">
        </div>
    </div>
    {% endblock content %}

    {% block scripts %}
    <script src="{% static 'js/pages/dashboards-page.js' %}" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.0/dist/chart.min.js"></script>
    {% endblock %}