{% extends 'index.html' %}
{% load static %}

{% block content %}
        <div class="box box-primary">
            <form method="post">
                {% csrf_token %}
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div>
                <div class="box-body">
                    <label for="id_day">{{ form_antecipation.day.label }}</label>
                    {{ form_antecipation.day }}
                    {{ form_antecipation.day.errors }}

                    <label for="id_active">{{ form_antecipation.active.label }}</label><br><br>
                    {{ form_antecipation.active }} Sim
                    {{ form_antecipation.active.errors }}
                </div>
                <div class="box-footer">
                    <button type="submit" name="Cadastrar" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
        </div>
{% endblock %}