{% extends 'index.html' %}
{% load static %}
{% load custom_filters %}
{% load custom_tags %}

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/dashboards.css' %}">
    {% endblock %}

    {% block title %}Renda Fixa{% endblock %}

    {% block content %}
    <div class="box box-primary">
        <div class="box-header">
                <h3 class="box-title">Renda Fixa</h3>
            </div>
            <div class="box-body" id="statement-box">
                <table class="table" id="statement-table">
                    <thead>
                        <tr>
                            {% for column in settings_list.column_names %}
                                <th>{{ column }}</th>
                            {% endfor %}
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if settings_list.create %}
                            <a href="{% url urls.create %}">
                                <input type="button" value="Cadastrar" class="btn btn-primary">
                            </a>
                        {% endif %}
                        {% for instance in instances %}
                            <tr>
                                {% for key, value in instance|get_fields %}
                                    {% if key in fields %}
                                        <td>{{ value }}</td>
                                    {% endif %}
                                {% endfor %}
                                <td>
                                    {% if settings_list.detail %}
                                        <a href="{% url urls.detail instance.id %}">
                                            <i class="fa-solid fa-file-lines action-icon"></i>
                                        </a>
                                    {% endif%}
                                    {% if settings_list.update %}
                                        <a href="{% url urls.update instance.id %}">
                                            <i class="fa-solid fa-pen-to-square action-icon"></i>
                                        </a>
                                    {% endif%}
                                    {% if settings_list.delete %}
                                        <a href="{% url urls.delete instance.id %}">
                                            <i class="fa-solid fa-trash action-icon"></i>
                                        </a>
                                    {% endif%}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de itens listados: {{ instances.count }}</span>
            </div>
        </div>
    {% endblock %}

    {% block scripts %}
        
    {% endblock %}