{% extends "index.html" %}
{% load custom_filters %}

    {% block title %}
        {% spaceless %}
            {% if 'remover' in request.path %}
                Excluir Lançamento
            {% else %}
                Detalhar Lançamento
            {% endif  %}
        {% endspaceless %}
    {% endblock %}

    {% block content %}
        <div class="box box-primary">
            <form method="post">
                <div class="box-title">
                    <h3>
                    {% spaceless %}
                        {% if 'remover' in request.path %}
                            Atenção! Você está prestes a movimentação {{ instance.description }} do dia
                            {{ instance.release_date }}. Esta operação é irreversível.
                        {% else %}
                            {{ instance.description }}
                        {% endif %}
                    {% endspaceless %}
                    </h3>
                </div>
                <div class="box-body">
                    <p style="font-size: 18px;">Data de Lançamento: <b>{{ instance.release_date }}</b></p>
                    <p style="font-size: 18px;">Data de Efetivação: <b>{{ instance.payment_date }}</b></p>
                    {% if instance.account %}
                    <p style="font-size: 18px;">Conta: <b>{{ instance.account }}</b></p>
                    {% endif %}
                    {% if instance.card %}
                    {% if instance.card.icon %}
                    <p style="font-size: 18px;">Cartão: <img src="{{ instance.card.icon.url }}" style="max-height: 18px;"> <b>- {{ instance.card }}</b></p>
                    <p style="font-size: 18px;">Bandeira: <img src="{{ instance.card.flag.icon.url }}" style="max-height: 18px;"> <b>- {{ instance.card.flag }}</b></p>
                    {% endif %}
                    {% endif %}
                    <p style="font-size: 18px;">Categoria: <b>{{ instance.category }}</b></p>
                    <p style="font-size: 18px;">Sub Categoria: <b>{{ instance.subcategory }}</b></p>
                    <p style="font-size: 18px;">Descrição: <b>{{ instance.description }}</b></p>
                    <p style="font-size: 18px;">Valor: <b>{{ instance.value | to_reais }}</b></p>
                    <p style="font-size: 18px;">Moeda: <b>{{ instance.currency }}</b></p>
                    <p style="font-size: 18px;">Número de Parcelas: <b>{{ instance.installments_number }}</b></p>
                    <p style="font-size: 18px;">Fixo: <b>{{ instance.fixed }}</b></p>
                    <p style="font-size: 18px;">Anual: <b>{{ instance.annual }}</b></p>
                    <p style="font-size: 18px;">Lembrar: <b>{{ instance.remember }}</b></p>
                    <p style="font-size: 18px;">Tipo: <b>{{ instance.type }}</b></p>
                    <p style="font-size: 18px;">Efetivado: <b>{{ instance.effected }}</b></p>

                    {% if instance.observation %}
                    <p style="font-size: 18px;">Observações:</p>
                    <div class="box-observation">
                        {{ instance.observation | linebreaks }}
                    </div>
                    {% endif %}
                    <br>
                    {% if 'remover' in request.path %}
                    <div class="btn-danger">
                        <p>
                        {% csrf_token %}
                        {{ exclusion_form }}
                        Sim, desejo excluir e estou ciente de que esta operação é irreversível.
                        </p>
                    </div>
                    {% endif %}
                </div>
                <div class="box-footer">
                    <a href="{{request.META.HTTP_REFERER}}"><input type="button" value="Voltar" class="btn btn-primary"></a>
                    {% if 'remover' in request.path %}
                    {% csrf_token %}
                    <input type="submit" value="Excluir" class="btn btn-danger">
                    {% else %}
                    <a href="{% url urls.update instance.id %}" class="btn btn-primary">Editar</a>
                    {% endif %}
                </div>
            </form>
        </div>

    {% endblock content %}