{% extends "index.html" %}
{% load custom_filters %}
{% load custom_tags %}

    {% block title %}
        {% spaceless %}
            {% if 'remover' in request.path %}
                Excluir Sonho
            {% else %}
                Detalhar Sonho
            {% endif  %}
        {% endspaceless %}
    {% endblock %}

    {% block content %}
         box-max-width-2000 v-center-div">
            <form method="post">
                <div class="box-title">
                    <h3>
                    {% spaceless %}
                        {% if 'remover' in request.path %}
                            Atenção! Você está prestes a movimentação {{ instance.description }} do dia
                            {{ instance.posted_date }}. Esta operação é irreversível.
                        {% else %}
                            {{ instance.description }}
                        {% endif %}
                    {% endspaceless %}
                    </h3>
                </div>
                <div class="box-body">
                    <p style="font-size: 18px;">Descrição: <b>{{ instance.description }}</b></p>
                    <p style="font-size: 18px;">Valor Total: <b>{{ instance.target_value|to_reais }}</b></p>
                    <p style="font-size: 18px;">Status: <b>{{ instance.get_status_display }}</b></p>
                    <p style="font-size: 18px;">Acumulado: <b>{% get_cumulative_total_for_dream instance.id request.user %}</b></p>
                    <p style="font-size: 18px;">Valor Restante: <b>{% get_remaining_value_for_dream instance.id instance.target_value request.user %}</b></p>
                    <p style="font-size: 18px;">Progresso: <b>{{ instance.progress_percentage|floatformat:1 }}%</b></p>
                    <p style="font-size: 18px;">Data Limite: <b>{{ instance.limit_date }}</b></p>
                    {% if instance.completion_date %}
                    <p style="font-size: 18px;">Data de Conclusão: <b>{{ instance.completion_date }}</b></p>
                    {% endif %}
                    <p style="font-size: 18px;">Meses Restantes: <b>{% calculate_remaining_months instance %}</b></p>
                    <p style="font-size: 18px;">Valor das Parcelas: <b>{% calcule_remaining_installment_value instance.id instance.target_value instance.limit_date request.user %}</b></p>
                    {% if instance.notes %}
                    <p style="font-size: 18px;">Anotações:</p>
                    <div class="box-observation">
                        {{ instance.notes | linebreaks }}
                    </div>
                    {% endif %}

                    <br><br>
                    <a href="{% url 'create_transaction' 'saida' %}?dream={{ instance.id }}"><input type="button" value="Cadastrar Aporte" class="btn btn-primary"></a>
                    <a href="{% url 'create_transaction' 'entrada' %}?dream={{ instance.id }}"><input type="button" value="Cadastrar Rendimento" class="btn btn-primary"></a>
                    <table class="table" id="statement-table">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Descrição</th>
                                <th>Categoria</th>
                                <th>Valor</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in transactions %}
                            <tr>
                                <td>{{ transaction.posted_date | date:"d/m/Y" }}</td>
                                <td>{{ transaction.description }}</td>
                                <td>{{ transaction.category }}</td>
                                <td>{{ transaction.value | to_reais }}</td>
                                <td>
                                    <a href="{% url 'detail_transaction' transaction.id %}"><i class="fa-solid fa-file-lines action-icon"></i></a>
                                    <a href="{% url 'update_transaction' transaction.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a>
                                    <a href="{% url 'delete_transaction' transaction.id %}"><i class="fa-solid fa-trash action-icon"></i></a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" style="text-align: center; padding: 20px;">Nenhum aporte registrado ainda</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    {% if 'remover' in request.path %}
                    <div class="btn-danger">
                        <p>
                        {% csrf_token %}
                        {{ exclusion_form }}
                        Sim, desejo excluir e estou ciente de que esta operação é irreversível.
                        </p>
                    </div>
                    {% endif %}
                </div>
                <div class="box-footer">
                    <a href="{{request.META.HTTP_REFERER}}"><input type="button" value="Voltar" class="btn btn-primary"></a>
                    {% if 'remover' in request.path %}
                    {% csrf_token %}
                    <input type="submit" value="Excluir" class="btn btn-danger">
                    {% else %}
                    <a href="{% url 'update_dream' instance.id %}" class="btn btn-primary">Editar</a>
                    {% endif %}
                </div>
            </form>
        </div>

    {% endblock content %}
