{% extends "index.html" %}
{% load custom_filters %}
{% load custom_tags %}

    {% block title %}
        {% spaceless %}
            {% if 'remover' in request.path %}
                Excluir Sonho
            {% else %}
                Detalhar Sonho
            {% endif  %}
        {% endspaceless %}
    {% endblock %}

    {% block content %}
        <div class="box box-primary">
            <form method="post">
                <div class="box-title">
                    <h3>
                    {% spaceless %}
                        {% if 'remover' in request.path %}
                            Atenção! Você está prestes a movimentação {{ instance.description }} do dia
                            {{ instance.release_date }}. Esta operação é irreversível.
                        {% else %}
                            {{ instance.description }}
                        {% endif %}
                    {% endspaceless %}
                    </h3>
                </div>
                <div class="box-body">
                    <p style="font-size: 18px;">Descrição: <b>{{ instance.description }}</b></p>
                    <p style="font-size: 18px;">Valor Total: <b>{{ instance.value|to_reais }}</b></p>
                    <p style="font-size: 18px;">Acumulado: <b>{% get_cumulative_total_for_dream instance.id request.user %}</b></p>
                    <p style="font-size: 18px;">Valor Restante: <b>{% get_remaining_value_for_dream instance.id instance.value request.user %}</b></p>
                    <p style="font-size: 18px;">Data Limite: <b>{{ instance.limit_date }}</b></p>
                    <p style="font-size: 18px;">Meses Restantes: <b>{% calculate_remaining_months instance %}</b></p>
                    <p style="font-size: 18px;">Valor das Parcelas: <b>{% calcule_remaining_installment_value instance.id instance.value instance.limit_date request.user %}</b></p>

                    <br><br>
                    <a href="{% url 'create_portion' instance.id %}"><input type="button" value="Cadastrar Depósito" class="btn btn-primary"></a>
                    <table class="table" id="statement-table">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Valor</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                            {% for portion in portions %}
                            <tr>
                                <td>{{ portion.date | date:"d/m/Y" }}</td>
                                <td>{{ portion.value| to_reais}}</td>
                                <td>
                                    <a href="{% url 'update_portion' portion.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a>
                                    <a href="{% url 'delete_portion' portion.id %}"><i class="fa-solid fa-trash action-icon"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    {% if 'remover' in request.path %}
                    <div class="btn-danger">
                        <p>
                        {% csrf_token %}
                        {{ exclusion_form }}
                        Sim, desejo excluir e estou ciente de que esta operação é irreversível.
                        </p>
                    </div>
                    {% endif %}
                </div>
                <div class="box-footer">
                    <a href="{{request.META.HTTP_REFERER}}"><input type="button" value="Voltar" class="btn btn-primary"></a>
                    {% if 'remover' in request.path %}
                    {% csrf_token %}
                    <input type="submit" value="Excluir" class="btn btn-danger">
                    {% else %}
                    <a href="{% url 'update_dream' instance.id %}" class="btn btn-primary">Editar</a>
                    {% endif %}
                </div>
            </form>
        </div>

    {% endblock content %}