{% extends 'base/form.html' %}
{% load custom_filters %}
    {% block child_model %}
                        <div>
                            {% if old_instance %}
                                <a href="{% url 'create_portion' old_instance.id %}">
                                    <input type="button" value="Cadastrar Depósito" class="btn btn-primary">
                                </a>
                            {% endif %}

                            {% if not 'sonhos/cadastrar/' in request.path %}
                            <table class="table" id="statement-table">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Valor</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for portion in portions %}
                                    <tr>
                                    <td>{{ portion.date | date:"d/m/Y" }}</td>
                                    <td>{{ portion.value| to_reais}}</td>
                                    <td>
                                        <a href="{% url 'update_portion' portion.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a>
                                        <a href="{% url 'delete_portion' portion.id %}"><i class="fa-solid fa-trash action-icon"></i></a>
                                    </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>

    {% endblock %}