{% extends 'index.html' %}
{% load static %}
{% load custom_filters %}
{% load custom_tags %}

    {% block title %}Sonhos{% endblock %}

    {% block content %}
        
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Sonhos</h3>
            </div>
            <div class="box-body" id="statement-box">
                <table class="table" id="statement-table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Valor Total</th>
                            <th>Acumulado</th>
                            <th>Valor Restante</th>
                            <th>Data Limite</th>
                            <th>Meses Restantes</th>
                            <th>Valor das Parcelas</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <a href="{% url 'create_dream' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                        {% for dream in dreams %}
                        <tr>
                            <td>{{ dream.description }}</td>
                            <td>{{ dream.value | to_reais }}</td>
                            <td>{% get_cumulative_total_for_dream dream.id request.user.id %}</td>
                            <td>{% get_remaining_value_for_dream dream.id dream.value request.user.id %}</td>
                            <td>{{ dream.limit_date | date:'d/m/Y' }}</td>
                            <td>{% calculate_remaining_months dream %}</td>
                            <td>{% calcule_remaining_installment_value dream.id dream.value dream.limit_date request.user.id %}</td>
                            <td>
                                <a href="{% url 'detail_dream' dream.id %}"><i class="fa-solid fa-file-lines action-icon"></i></a>
                                <a href="{% url 'update_dream' dream.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a>
                                <a href="{% url 'delete_dream' dream.id %}"><i class="fa-solid fa-trash action-icon"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if 'inativos' in request.path %}
                    <a href="{% url 'list_dreams' %}" class="decoration-none"><p class="mt-30 font-14">Ver todos</p></a>
                {% else %}
                    <a href="{% url 'list_dreams' 'inativos' %}" class="decoration-none"><p class="mt-30 font-14">Ver inativos</p></a>
                {% endif %}
            </div>
            <div class="box-footer">
                <span>Total de ítens listados: {{ dreams.count }}</span>
            </div>
        </div>
    {% endblock %}

    {% block scripts %}
    {% endblock %}