{% extends 'index.html' %}
{% load static %}
{% load custom_filters %}
{% load custom_tags %}

    {% block title %}Sonhos{% endblock %}

    {% block content %}
        <div class="mb-15">
            <a href="{% url 'get_dreams_by_status' 'ativos' %}" class="btn {% if dream_status == 'ativos' %}btn-primary{% else %}btn-info{% endif %}">
                Ativos
            </a>
            <a href="{% url 'get_dreams_by_status' 'realizados' %}" class="btn {% if dream_status == 'realizados' %}btn-primary{% else %}btn-info{% endif %}">
                Realizados
            </a>
            <a href="{% url 'get_dreams_by_status' 'pausados' %}" class="btn {% if dream_status == 'pausados' %}btn-primary{% else %}btn-info{% endif %}">
                Pausados
            </a>
            <a href="{% url 'get_dreams_by_status' 'cancelados' %}" class="btn {% if dream_status == 'cancelados' %}btn-primary{% else %}btn-info{% endif %}">
                Cancelados
            </a>
        </div>
        
        <div class="box box-primary box-max-width-2000 v-center-div dream-mobile">
            <div class="box-header">
                <h3 class="box-title">Sonhos</h3>
            </div>
            <div class="box-body" id="statement-box">
                <a href="{% url urls.create %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                {% if dream_status == 'realizados' %}
                {% for group in completed_dream_groups %}
                <h4>{{ group.title }}</h4>
                <table class="table dream-completed-table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th class="col-monetary">Valor Total</th>
                            <th class="col-monetary">Acumulado</th>
                            <th class="col-monetary">Desconto</th>
                            <th class="col-date">Data Limite</th>
                            <th class="col-date">Data de Conclusão</th>
                            <th class="col-actions">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instance in group.instances %}
                        <tr>
                            <td class="col-description">{{ instance.description }}</td>
                            <td>{{ instance.target_value | to_reais }}</td>
                            <td>{% get_cumulative_total_for_dream instance.id request.user.id %}</td>
                            <td>{% get_remaining_value_for_dream instance.id instance.target_value request.user.id %}</td>
                            <td>{{ instance.limit_date | date:'d/m/Y' }}</td>
                            <td>{{ instance.completion_date | date:'d/m/Y' }}</td>
                            <td>
                                <a href="{% url urls.detail instance.id %}"><i class="fa-solid fa-file-lines action-icon"></i></a>
                                <a href="{% url urls.update instance.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a>
                                <a href="{% url urls.delete instance.id %}"><i class="fa-solid fa-trash action-icon"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% empty %}
                <p class="mt-30 font-14">Nenhum sonho realizado encontrado.</p>
                {% endfor %}
                {% else %}
                <table class="table" id="statement-table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th class="col-monetary">Valor Total</th>
                            <th class="col-monetary">Acumulado</th>
                            <th class="col-monetary">Restante</th>
                            <th class="col-date">Data Limite</th>
                            <th class="col-numeric">Meses Restantes</th>
                            <th class="col-monetary">Valor das Parcelas</th>
                            <th class="col-actions">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instance in instances %}
                        <tr>
                            <td class="col-description">{{ instance.description }}</td>
                            <td>{{ instance.target_value | to_reais }}</td>
                            <td>{% get_cumulative_total_for_dream instance.id request.user.id %}</td>
                            <td>{% get_remaining_value_for_dream instance.id instance.target_value request.user.id %}</td>
                            <td>{{ instance.limit_date | date:'d/m/Y' }}</td>
                            <td>{% calculate_remaining_months instance %}</td>
                            <td>{% calcule_remaining_installment_value instance.id instance.target_value instance.limit_date request.user.id %}</td>
                            <td>
                                <a href="{% url urls.detail instance.id %}"><i class="fa-solid fa-file-lines action-icon"></i></a>
                                <a href="{% url urls.update instance.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a>
                                <a href="{% url urls.delete instance.id %}"><i class="fa-solid fa-trash action-icon"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% if dream_status == 'ativos' %}
                        <tr class="dream-total-row">
                            <td colspan="6"><strong>Total</strong></td>
                            <td><strong>{% total_remaining_installment_value_for_dreams instances %}</strong></td>
                            <td></td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="box-footer">
                <span>Total de itens listados: {{ instances.count }}</span>
            </div>
        </div>
    {% endblock %}

    {% block scripts %}
    {% endblock %}
