{% extends "index.html" %}

    {% block title %}Exclusão da movimentação {{ movimentacao.descricao }}{% endblock title %}

    {% block content %}
        <div class="box box-primary">
            <form method="post">
                <div class="box-title">
                    <h3>
                        Atenção! Você está prestes a movimentação {{ movimentacao.descricao }} do dia
                        {{ movimentacao.data }}. Esta operação é irreversível.
                    </h3>
                </div>
                <div class="box-body">
                    <p>Data: <b>{{ movimentacao.data }}</b></p>
                    <p>Categoria: <b>{{ movimentacao.categoria }}</b></p>
                    <p>Sub Categoria: <b>{{ movimentacao.subcategoria }}</b></p>
                    <p>Descrição: <b>{{ movimentacao.descricao }}</b></p>
                    <p>Valor: <b>{{ movimentacao.valor }}</b></p>
                    <p>Moeda: <b>{{ movimentacao.moeda }}</b></p>
                    <p>Repetir: <b>{{ movimentacao.repetir }}</b></p>
                    <p>Número de Parcelas: <b>{{ movimentacao.numero_parcelas }}</b></p>
                    <p>Fixo: <b>{{ movimentacao.fixa }}</b></p>
                    <p>Repetir: <b>{{ movimentacao.repetir }}</b></p>
                    <p>Observação: <b>{{ movimentacao.observacao }}</b></p>
                    <p>Lembrar: <b>{{ movimentacao.lembrar }}</b></p>
                    <p>Tipo: <b>{{ movimentacao.tipo }}</b></p>
                    <p>Efetivado: <b>{{ movimentacao.efetivado }}</b></p>
                    <br>
                    <div class="btn-danger">
                        <p>
                        {% csrf_token %}
                        {{ form_exclusao }}
                        Sim, desejo excluir e estou ciente de que esta operação é irreversível.
                        </p>
                    </div>
                </div>
                <div class="box-footer">
                    <form method="post">
                        {% csrf_token %}
                        <a href="{{request.META.HTTP_REFERER}}"><input type="button" value="Voltar" class="btn btn-primary"></a>
                        <input type="submit" value="Excluir" class="btn btn-danger">
                    </form>
                </div>
            </form>

        </div>

    {% endblock content %}