{% load meus_filtros %}

                <label for="expenses-selector">Categorias</label>
                <select name="expenses-selector" id="expenses-selector" class="form-control"></select>
                <div class="dashboard">
                    <div class="expenses">
                        <canvas id="expenses-bar-chart" width="40" height="15"></canvas>
                        <br>
                        <b class="font-16">Total de gastos: {{ saidas | formatar_reais }}</b>
                    </div>
                    <div class="revenue-expenses">
                        <canvas id="amount-doughnut-chart"></canvas>
                    </div>
                    <div class="revenue">
                        <canvas id="revenue-doughnut-chart"></canvas>
                    </div>
                    <div class="revenue-expenses-number">
                        {% if diferenca < 0 %}
                        <b class="font-16 red">{{ diferenca | formatar_reais }}</b>
                        {% else %}
                        <b class="font-16 green">{{ diferenca | formatar_reais }}</b>
                        {% endif %}
                    </div>
                    <div class="fixed">
                        <h3>Gastos Fixos</h3>
                        <b class="font-16">{{ fixed | formatar_reais }}</b>
                    </div>
                    <div class="cash">
                        <h3>À vista</h3>
                        <b class="font-16">{{ avista | formatar_reais }}</b>
                    </div>
                    <div class="card">
                        <h3>Cartão</h3>
                        <b class="font-16">{{ cartoes | formatar_reais }}</b>
                    </div>
                </div>