{% extends 'index.html' %}
{% load static %}

    {% block title %}Cadastrar movimentacao{% endblock title %}

    {% block content %}
        <div class="box box-primary">
            <div class="box-header">
                {% if tipo == 'entrada' and movimentacao_antiga %}
                <h3 class="box-title">Editar Entrada</h3>
                {% elif tipo == 'saida' and movimentacao_antiga %}
                <h3 class="box-title">Editar Saída</h3>
                {% elif tipo == 'entrada' and not movimentacao_antiga %}
                <h3 class="box-title">Cadastrar Entrada</h3>
                {% elif tipo == 'saida' and not movimentacao_antiga %}
                <h3 class="box-title">Cadastrar Saída</h3>
                {% endif %}
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="box-body">
                        {% csrf_token %}

                        {{ form_meio_pagamento }}

                        <div id="conta-cartao">
                            {{ form_movimentacao.conta.errors }}
                            <label for="id_conta">Conta</label>
                            {{ form_movimentacao.conta }}
    
                            {{ form_movimentacao.cartao.errors }}
                            <label for="id_cartao">Cartao</label>
                            {{ form_movimentacao.cartao }}
                        </div>

                        {{ form_movimentacao.data_lancamento.errors }}
                        <label for="id_data_lancamento">Data do Lançamento</label>
                        {{ form_movimentacao.data_lancamento }}

                        {{ form_movimentacao.data_efetivacao.errors }}
                        <label for="id_data_efetivacao">Data de Efetivação</label>
                        {{ form_movimentacao.data_efetivacao }}

                        {{ form_movimentacao.categoria.errors }}
                        <label for="id_categoria">Categoria</label>
                        {{ form_movimentacao.categoria }}

                        {{ form_movimentacao.subcategoria.errors }}
                        <label for="id_subcategoria">Sub Categoria</label>
                        {{ form_movimentacao.subcategoria }}

                        {{ form_movimentacao.descricao.errors }}
                        <label for="id_descricao">Descrição</label>
                        {{ form_movimentacao.descricao }}

                        {{ form_movimentacao.valor.errors }}
                        <label for="id_valor">Valor</label>
                        {{ form_movimentacao.valor }}

                        {{ form_movimentacao.numero_parcelas.errors }}
                        <label for="id_numero_parcelas">Número de Parcelas</label>
                        {{ form_movimentacao.numero_parcelas }}

                        {{ form_movimentacao.pagas.errors }}
                        <label for="id_pagas">Pagas</label>
                        {{ form_movimentacao.pagas }}

                        {{ form_movimentacao.fixa.errors }}
                        {{ form_movimentacao.fixa }}
                        <label for="id_fixa">Fixa</label><br><br>

                        {{ form_movimentacao.anual.errors }}
                        {{ form_movimentacao.anual }}
                        <label for="id_anual">Anual</label><br><br>

                        {{ form_movimentacao.moeda.errors }}
                        <label for="id_moeda">Moeda</label>
                        {{ form_movimentacao.moeda }}

                        {{ form_movimentacao.observacao.errors }}
                        <label for="id_observacao">Observação</label>
                        {{ form_movimentacao.observacao }}

                        {{ form_movimentacao.lembrar.errors }}
                        {{ form_movimentacao.lembrar }}
                        <label for="id_lembrar">Lembrar</label><br><br>

                        {{ form_movimentacao.efetivado.errors }}
                        {{ form_movimentacao.efetivado }}
                        <label for="id_efetivado">Efetivado</label><br><br>

                        {{ form_movimentacao.tela_inicial.errors }}
                        {{ form_movimentacao.tela_inicial }}
                        <label for="id_tela_inicial">Tela Inicial</label><br><br>
                </div>
                <div class="box-footer">
                    <input class="btn btn-primary" type="submit" name="Cadastrar">
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-info">Voltar</a>
                    {% if 'editar' in request.path %}
                    <a href="{% url 'remover_movimentacao' movimentacao_antiga.id %}"><input type="button" value="Excluir" class="btn btn-danger"></a>
                    {% endif %}
                </div>
            </form>
        </div>
    {% endblock %}

    {% block scripts %}
    <script src="{% static 'js/classes.js' %}" type="module"></script>
    {% endblock %}