{% extends 'index.html' %}
{% load static %}
{% load meus_filtros %}

{% block styles %}<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">{% endblock %}

    {% block title %}Extrato {{ ano_mes | date:'M' }} de {{ ano_mes | date:'y' }}{% endblock %}

    {% block content %}
        {% if 'conta' in request.path %}
            {% include 'conta/navegacao_conta.html' %}
        {% elif 'fatura' in request.path %}
            {% include 'fatura/navegacao_fatura.html' %}
        {% else %}
            {% include 'movimentacao/navegacao_movimentacoes.html' %}
        {% endif %}

        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Dashboard</h3>
            </div>
            <div class="box-body">
                <label for="expenses-selector">Categorias</label>
                <select name="expenses-selector" id="expenses-selector" class="form-control"></select>
                <div class="dashboard">
                    <div class="expenses">
                        <canvas id="expenses-bar-chart" width="40" height="15"></canvas>
                    </div>
                    <div class="revenue-expenses">
                        <canvas id="amount-doughnut-chart"></canvas>
                    </div>
                    <div class="revenue">
                        <canvas id="revenue-doughnut-chart"></canvas>
                    </div>
                    <div class="revenue-expenses-number">
                        {% if diferenca < 0 %}
                        <b class="font-16 red">{{ diferenca | formatar_reais }}</b>
                        {% else %}
                        <b class="font-16 green">{{ diferenca | formatar_reais }}</b>
                        {% endif %}
                    </div>
                    <div class="fixed">
                        <h3>Gastos Fixos</h3>
                        <b class="font-16">{{ fixed | formatar_reais }}</b>
                    </div>
                    <div class="cash">
                        <h3>À vista</h3>
                        <b class="font-16">{{ avista | formatar_reais }}</b>
                    </div>
                    <div class="card">
                        <h3>Cartão</h3>
                        <b class="font-16">{{ cartoes | formatar_reais }}</b>
                    </div>
                </div>
            </div>
            <div class="box-footer">

            </div>
        </div>
        
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Extrato {{ ano_mes | date:'F' }} de {{ ano_mes | date:'Y' }}</h3>
            </div>
            <div class="box-body" id="statement-box">
                <table class="table" id="statement-table">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Banco/Cartão</th>
                            <th style="text-align: left; max-width: 150px; min-width:115px">Categoria</th>
                            <th style="text-align: left;">Sub-Categoria</th>
                            <th style="text-align: left;">Descrição</th>
                            <th style="text-align: right; max-width: 50px; min-width:30px;">Valor</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in movimentacoes %}
                        <tr style="border-left: solid 3px {{ i.categoria.cor }}">
                                <td>{{ i.data_lancamento | date:"d/m"}}</td>
                            {% if i.conta %}
                            <td><img src="{{ i.conta.banco.icone.url }}" alt="Logotipo do banco" style="max-height: 25px;"></td>
                            {% else %}
                            <td><img src="{{ i.cartao.bandeira.icone.url }}" alt="Logotipo do banco" style="max-height: 25px;"></td>
                            {% endif %}
                            <td style="text-align: left; max-width: 150px; min-width:115px"><i class="{{ i.categoria.icone }}" style="padding:10px;"></i> {{ i.categoria }}</td>
                            <td style="text-align: left;">{{ i.subcategoria }}</td>
                            <td style="text-align: left;">{{ i|descricao_parcelas }}</td>
                            <td style="text-align: right; max-width: 50px; min-width:30px;">{{ i.valor | formatar_moeda:i.moeda.simbolo }}</td>
                            <td>
                                {% if i.parcelamento %}
                                <a href="{% url 'detalhar_parcelamento' i.parcelamento.id %}"><i class="fa-solid fa-file-lines action-icon"></i></a>
                                <a href="{% url 'editar_parcelamento' i.parcelamento.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a>
                                <a href="{% url 'remover_parcelamento' i.parcelamento.id %}"><i class="fa-solid fa-trash action-icon"></i></a>
                                {% else %}
                                <a href="{% url 'detalhar_movimentacao' i.id %}"><i class="fa-solid fa-file-lines action-icon"></i></a>
                                <a href="{% url 'editar_movimentacao' i.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a>
                                <a href="{% url 'remover_movimentacao' i.id %}"><i class="fa-solid fa-trash action-icon"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de ítens listados: {{ movimentacoes.count }}</span>
            </div>
        </div>
    {% endblock %}

    {% block scripts %}
    <script src="{% static 'js/layout/pages/list-movements.js' %}" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.0/dist/chart.min.js"></script>
    {% endblock %}