{% extends 'index.html' %}
{% load static %}
{% load meus_filtros %}
    {% block title %}Balanço{% endblock %}

    {% block content %}
        {% for mes in meses %}
        <a href="{% url 'listar_movimentacoes_ano_mes' mes|date:'Y' mes|date:'m' %}">
            <input type="button" value="{{ mes | date:'M-y' }}" class="btn btn-primary" style="margin: 5px;">
        </a>
        {% endfor %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Saldo</h3>
            </div>
            <div class="box-body">
                <table>
                    <thead>
                        <tr>
                            {% for conta in contas %}
                            {% if conta.tela_inicial %}
                            <th>{{ conta }} - {{ conta.tipo }}</th>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for conta in contas %}
                            {% if conta.tela_inicial %}
                            {% if saldo < 0 %}
                            <td style="color: #960000">{{ conta.saldo }}</td>
                            {% else %}
                            <td style="color: #009600">{{ conta.saldo }}</td>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer">

            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Balanço</h3>
            </div>
            <div class="box-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Banco</th>
                            <th style="text-align: left; max-width: 150px; min-width:115px">Categoria</th>
                            <th style="text-align: left;">Descrição</th>
                            <th style="text-align: right; max-width: 50px; min-width:30px;">Valor</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in movimentacoes %}
                        <tr style="border-left: solid 3px {{ i.categoria.cor }}">
                            <td>{{ i.data | date:"d/m"}}</td>
                            {% if i.conta %}
                            <td><img src="{{ i.conta.banco.icone.url }}" alt="Logotipo do banco" style="max-height: 25px;"></td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td style="text-align: left; max-width: 150px; min-width:115px"><i class="{{ i.categoria.icone }}" style="padding:10px;"></i> {{ i.categoria }}</td>
                            <td style="text-align: left;">{{ i.descricao }}</td>
                            <td style="text-align: right; max-width: 50px; min-width:30px;">{{ i.valor | formatar_moeda:i.moeda.simbolo }}</td>
                            <td>
                                <a href="{% url 'editar_conta' i.id %}"><i class="fa-solid fa-file-lines action-icon"></i></a>
                                <a href="{% url 'editar_movimentacao' i.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <span>Total de ítens listados: {{ movimentacoes.count }}</span>
            </div>
        </div>

        </div>
    {% endblock content %}