<br>
        <a href="{% url 'listar_movimentacoes_ano' ano_anterior %}">
            <input type="button" value="{{ ano_anterior }}" class="btn" style="margin: 5px;">
        </a>
        <a href="{% url 'listar_movimentacoes_ano_mes' ano_atual ano_atual %}">
            <input type="button" value="{{ ano_atual }}" class="btn" style="margin: 5px;">
        </a>
        <a href="{% url 'listar_movimentacoes_ano' ano_proximo %}">
            <input type="button" value="{{ ano_proximo }}" class="btn" style="margin: 5px;">
        </a>