{% extends "index.html" %}

    {% block title %}Detalhes{% endblock title %}

    {% block content %}
        <div class="box box-primary">
            <div class="box-title">
                <h3>{{ movimentacao.descricao }}</h3>
            </div>
            <div class="box-body">
                <p style="font-size: 18px;">Data de Lançamento: <b>{{ movimentacao.data_lancamento }}</b></p>
                <p style="font-size: 18px;">Data de Efetivação: <b>{{ movimentacao.data_efetivacao }}</b></p>
                {% if movimentacao.conta %}
                <p style="font-size: 18px;">Conta: <b>{{ movimentacao.conta }}</b></p>
                {% endif %}
                {% if movimentacao.cartao %}
                {% if movimentacao.cartao.icone %}
                <p style="font-size: 18px;">Cartão: <img src="{{ movimentacao.cartao.icone.url }}" style="max-height: 18px;"> <b>- {{ movimentacao.cartao }}</b></p>
                <p style="font-size: 18px;">Bandeira: <img src="{{ movimentacao.cartao.bandeira.icone.url }}" style="max-height: 18px;"> <b>- {{ movimentacao.cartao.bandeira }}</b></p>
                {% endif %}
                {% endif %}
                <p style="font-size: 18px;">Categoria: <b>{{ movimentacao.categoria }}</b></p>
                <p style="font-size: 18px;">Sub Categoria: <b>{{ movimentacao.subcategoria }}</b></p>
                <p style="font-size: 18px;">Descrição: <b>{{ movimentacao.descricao }}</b></p>
                <p style="font-size: 18px;">Valor: <b>{{ movimentacao.valor }}</b></p>
                <p style="font-size: 18px;">Moeda: <b>{{ movimentacao.moeda }}</b></p>
                <p style="font-size: 18px;">Número de Parcelas: <b>{{ movimentacao.numero_parcelas }}</b></p>
                <p style="font-size: 18px;">Fixo: <b>{{ movimentacao.fixa }}</b></p>
                <p style="font-size: 18px;">Repetir: <b>{{ movimentacao.repetir }}</b></p>
                <p style="font-size: 18px;">Observação: <b>{{ movimentacao.observacao }}</b></p>
                <p style="font-size: 18px;">Lembrar: <b>{{ movimentacao.lembrar }}</b></p>
                <p style="font-size: 18px;">Tipo: <b>{{ movimentacao.tipo }}</b></p>
                <p style="font-size: 18px;">Efetivado: <b>{{ movimentacao.efetivado }}</b></p>
                <br>
                <div class="btn-danger">
                    <p>
                    {% csrf_token %}
                    {{ form_exclusao }}
                    Sim, desejo excluir e estou ciente de que esta operação é irreversível.
                    </p>
                </div>
                {% if parcelamento %}
                <p style="font-size: 18px;">Parcelamento:</p>
                <table>
                    <thead>
                        <tr>
                            <th>Data de Lançamento</th>
                            <th>Data de Efetivação</th>
                            <th>Descricao</th>
                            <th>Valor</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in parcelamento %}
                    <tr>
                        <td>{{ i.data_lancamento }}</td>
                        <td>{{ i.data_efetivacao }}</td>
                        <td>{{ i.descricao }}</td>
                        <td>{{ i.valor }}</td>
                        <td><a href="{% url 'editar_movimentacao' i.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br>
                <input type="button" value="Editar Parcelamento" class="btn btn-primary">
                <input type="button" value="Excluir Parcelamento" class="btn btn-danger">
                {% endif %}
            </div>
            <div class="box-footer">
                <form method="post">
                    {% csrf_token %}
                    <a href="{{request.META.HTTP_REFERER}}"><input type="button" value="Voltar" class="btn btn-primary"></a>
                    <input type="submit" value="Excluir" class="btn btn-danger">
                </form>
            </div>
        </div>

    {% endblock content %}