{% extends 'index.html' %}
{% load static %}
{% load custom_filters %}
{% load custom_tags %}

    {% block title %}Carteira{% endblock %}

    {% block content %}
        
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Carteira</h3>
            </div>
            <div class="box-body" id="statement-box">
                <a href="{% url 'list_fixed_income' %}">Renda Fixa: R$ (Total Renda Fixa)</a><br>
                <a href="get_fixed_income">Renda Variável: R$ (Total Renda Variável)</a><br>
                <a href="get_fixed_income">Criptomoedas: R$ (Total Criptomoedas)</a><br>
                <p>Patrimônio Total: R$ (Patrimônio total)</p>

                <br><br>
                <h3>Desenvolver dashbord clicável com</h3>
                <ul>
                    <li>Trazer o valor total dos investimentos</li>
                    <li>Gráfico de rosca com porcentagem em reda fixa e em renda variável</li>
                    <li>Gráfico de área com os investimentos dos últimos doze meses</li>
                </ul>
            </div>
            <div class="box-footer">
                <span>Total de itens listados: </span>
            </div>
        </div>
    {% endblock %}

    {% block scripts %}
    {% endblock %}