{% extends 'index.html' %}
{% load static %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}Carteira{% endblock %}

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
        <link rel="stylesheet" href="{% static 'css/dashboards.css' %}">
    {% endblock %}

    {% block content %}

    <div class="box box-primary box-max-width-2000 v-center-div">
        <div class="box-header">
            <h3 class="box-title">Carteira</h3>
        </div>
        <div class="box-body" id="statement-box">
            <div class="dashboard">
                <div class="line">
                    <canvas id="line-chart" width="40" height="15"></canvas>
                </div>
                <div class="doughnut">
                    <canvas id="donnut-chart" style="width: 20%;" height="15"></canvas>
                </div>
            </div>
            <div class="dashboard-items-row">
                <a href="{% url 'list_fixed_income' %}" class="dashboard-item">
                    <p>Renda Fixa</p>
                    <p>{{ total_fixed_income | to_reais }}</p>
                </a>
            
                <a href="get_fixed_income" class="dashboard-item">
                    <p>Renda Variável</p>
                    <p>{{ total_variable_income | to_reais }}</p>
                </a>
            
                <a href="get_fixed_income" class="dashboard-item">
                    <p>Criptomoedas</p>
                    <p>{{ total_cryptocurrencies | to_reais }}</p>
                </a>
            
                <a class="dashboard-item">
                    <p>Patrimônio Total</p>
                    <p>{{ total_amount | to_reais }}</p>
                </a>
            </div>
        </div>
        <div class="box-footer">
        </div>
    </div>
    {% endblock %}

    {% block scripts %}
        <script src="{% static 'js/pages/portfolio-page.js' %}" type="module"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.0/dist/chart.min.js"></script>
    {% endblock %}