        <aside id="navegacao">
            <div id="user-panel">
                <img id="aside-profile-photo" src="{% static 'balanco/img/profile.jpg' %}" alt="">
		<span id="aside-profile-name">{{ request.user.username }}</span>
            </div>
            <ul class="menu">
                <li class="menu-item">
                    <a class="menu-item-link" href="{% url 'listar_movimentacoes' %}">
                        <i class="bi bi-house-door-fill icon"></i><span class="collapse">Início</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-item-link" onclick="mostrar('movimentacoes')">
                        <i class="bi bi-calendar-plus-fill icon"></i><span class="collapse">Nova</span>
                    </a>
                </li>
                    <ul class="sub-menu" id="movimentacoes">
                        <li class="sub-menu-item">
                            <a href="" class="sub-menu-item-link">Despesa Cartão</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="" class="cadastrar_despesa">Despesa</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="" class="sub-menu-item-link">Transferência</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="{% url 'cadastrar_receita' %}" class="sub-menu-item-link">Receita</a>
                        </li>
                    </ul>
                <li class="menu-item">
                    <a class="menu-item-link" onclick="mostrar('categorias')">
                        <i class="bi bi-diagram-3-fill icon"></i><span>Categorias</span>
                    </a>
                </li>
                    <ul class="sub-menu" id="categorias">
                        <li class="sub-menu-item">
                            <a href="{% url 'cadastrar_categoria_entrada' %}" class="sub-menu-item-link">Cadastrar Categoria Entrada</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="{% url 'listar_categorias_entradas' %}" class="sub-menu-item-link">Listar Categoria Entrada</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="{% url 'cadastrar_categoria_saida' %}" class="sub-menu-item-link">Cadastrar Categoria Saída</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="{% url 'listar_categorias_saida' %}" class="sub-menu-item-link">Listar Categoria Saída</a>
                        </li>
                    </ul>
                <li class="menu-item">
                    <a class="menu-item-link" onclick="mostrar('contas')">
                        <i class="bi bi-bank2 icon"></i><span class="collapse">Contas</span>
                    </a>
                </li>
                    <ul class="sub-menu" id="contas">
                        <li class="sub-menu-item">
                            <a href="{% url 'cadastrar_conta' %}" class="sub-menu-item-link">Cadastrar</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="{% url 'listar_contas' %}" class="sub-menu-item-link">Listar</a>
                        </li>
                    </ul>
                <li class="menu-item">
                    <a class="menu-item-link" onclick="mostrar('cartoes')">
                        <i class="bi bi-credit-card-2-back-fill icon"></i><span class="collapse">Cartões</span>
                    </a>
                </li>
                    <ul class="sub-menu" id="cartoes">
                        <li class="sub-menu-item">
                            <a href="{% url 'cadastrar_cartao' %}" class="sub-menu-item-link">Cadastrar</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="{% url 'listar_cartoes' %}" class="sub-menu-item-link">Listar</a>
                        </li>
                    </ul>
            </ul>
        </aside>